/* Resource section styles*/

:root {
  --text-primary: #202020;
  --text-secondary: var(--csa-earth-bg);
  --text-hover: #40362e;
  --resources-bg: var(--csa-earth-bg);
  --resources-bg-secondary: #202020;

  --sans: 'Plus Jakarta Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

/* body {
  /* margin: 0; 
  font-family: var(--sans);
  color: var(--text-primary);
  background-color: var(--resources-bg);
} */

#root {
  min-height: 100vh;
}

.container {
  color: var(--text-primary);
}

.resources-heading {
  --csa-heading-size: 70px;
}

.title-container {
  display: flex;
  flex-direction: column;
  position: relative;
}


a {
  text-decoration: none;
}

.resource-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--resources-bg-secondary);
  margin-bottom: 2px;
}

.resource-name {
  font-family: var(--sans);
  color: var(--text-secondary);
  background-color: var(--resources-bg-secondary);
  font-weight: 700;
  font-style: bold;
  padding-left: 20px;
  font-size: 23px;
  margin: 5px;
  letter-spacing: -0.07em;
}

.sub-resources {
  background-color: var(--resources-bg);
  display: flex;
  flex-direction: column;
}

.sub-resource-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 40px;
  border-bottom: 1px solid var(--resources-bg-secondary);
  left: 0;
}

.sub-resource-name {
  font-family: var(--sans);
  color: var(--text-primary);
  font-weight: 500;
  font-size: 18px;
  font-style: bold;
}

.sub-resource-name:hover {
  color: var(--text-hover);
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: var(--resources-bg-secondary);
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0;
}


.arrow {
  padding-right: 22px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .resources-heading {
    --csa-heading-size: 100px;
  }

  .resource-name {
    font-size: 37px;
    padding-left: 10%;
  }

  .sub-resource-item {
    padding: 10px 0;
    padding-left: 14%;
    border-bottom: 2px solid var(--resources-bg-secondary);
  }

  .sub-resource-name {
    font-size: 25px;
  }

  .arrow-container{
    position: absolute;
    width: 100px;
    right: 0;
  }

  .arrow {
    width: 66px;
    height: 66px;
    padding-right: 30px;
  }

}

@media (min-width: 1024px) {
  .resources-heading {
    --csa-heading-size: 130px;
  }

  .resource-name {
    font-size: 45px;
  }

  .sub-resource-item {
    border-bottom: 2px solid var(--resources-bg-secondary);
  }

  .sub-resource-name {
    font-size: 32px;
  }

  .arrow-container{
    position: absolute;
    width: 130px;
  }
  .arrow {
    width: 77px;
    right: 140px;
  }

} 
